@import url('https://fonts.googleapis.com/css2?family=Itim&family=Prompt&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
  font-family: 'Itim', cursive;
  font-family: 'Prompt', sans-serif;
  
}
header .play-button{
    position: absolute;
    bottom: 40px;
    margin: 0px 0 0 0%;
}
.play-button .play{
  font-size: 18px;
  font-weight: 500;
  color: white;
}
 .play-button .play::before{
   position: absolute;
   height: 3px;
   width: 50px;
   top: 50%;
   transform: translateY(-50%);
   left: -58px;
   background: #ffffff;
 }
.play-button i{
  height: 40px;
  width: 40px;
  line-height: 13px;
  text-align: center;
  margin-left: 10px;
  border-radius: 6px;
  cursor: pointer;
}
body{
  height: 100vh;;
  width: 100%;
  display: flex;
  background-image: linear-gradient( 135deg, #00622f 50%, #ffffff 0%);
}
::selection{
  color: #f2f2f2;
  background: #f86d8d;
}
body::before,
body::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
body::before{
  opacity: 0.4;
  background-image: linear-gradient( 135deg, #00622f 50%, #ffffff 0%);
}
body::after{
  opacity: 0.4;
  background-image: linear-gradient( 135deg, #00622f 50%, #ffffff 0%);
}
header{
  height: 90%;
  width: 90%;
  background: rgba(90, 90, 90, 0.3);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: 12;
  border-radius: 25px;
  margin: auto;
  position: relative;
}
header .navbar{
  margin: auto;
  width: 100%;
  padding: 35px 50px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .menu{
  display: flex;
  flex-wrap: wrap;
}
.navbar .logo a{
  text-decoration: none;
  font-size: 22px;
  color: #000;
  font-weight: 500;
}
.navbar .menu li{
  list-style: none;
  margin: 0 6px;
}
.navbar .menu a{
  color: #ffffff;
  text-decoration: none;
  font-size: 23px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.navbar .menu a:hover{
  color: #000000;
}
.navbar .buttons input{
  outline: none;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  border-radius: 12px;
  padding: 6px 15px;
  border: none;
  margin: 0 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: rgb(255, 255, 255)
}
.navbar .buttons input:hover {
  transform: scale(0.97);
}

 header .text-content{
   width: 40%;
   margin: 0px 0 0 50px ;
   color: #ffffff
 }
.text-content h2{
  font-size: 40px;
  font-weight: 600;
}
.text-content p{
  font-size: 20px;
  margin-top: 10px;
}
@media (max-width:850px) {
  header .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 5px;
  }
  .navbar .menu {
    margin: 10px 0 20px 0;
  }
  header .text-content {
    margin: 30px 0 0 20px ;
    width: 70%;
  }
  header .text-content h2 {
    font-size: 20px;
  }
}

@media (max-width:410px) {
  header {
    height: 100vh;
    width: 100%;
    border-radius: 0px;
  }
  header .navbar {
    padding: 15px 10px;
}
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all .4s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
  border-radius: 25px
}

.modal__content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
  color: #000;
  overflow: hidden;

}.modal__content1 {
  border-radius: 4px;
  position: relative;
  width: 765px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
  color: #000;
}

.modal__content2 {
  border-radius: 4px;
  position: relative;
  width: auto;
  max-width: 90%;
  background: #d5d2d2;
  padding: 1em 2em;
  color: #000;
}

.modal__content3 {
  border-radius: 4px;
  position: relative;
  width: auto;
  max-width: 90%;
  background: #d5d2d2;
  padding: 1em 2em;
  width: 50%;
  color: #000;
}

.modal__close {
  position: absolute;
  top: -24px;
  right: 10px;
  color: #585858;
  text-decoration: none;
  font-size: 60px;
}




.form-containerLG form{
  border-radius: 5px;
  border:var(--border);
  padding:20px;
  text-align: center;
  background-color: var(--white);
}

.form-containerLG form h3{
  font-size: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color:var(--black);
}

.form-containerLG form .box{
  width: 100%;
  border-radius: 5px;
  border:var(--border);
  padding:12px 14px;
  font-size: 18px;
  margin:10px 0;
}


.btn{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 50%;
}
.btn:hover{
  background-color: #000;
}

.box1{
  width: 10%;
  border-radius: 5px;
  border:var(--border);
  padding:12px 14px;
  font-size: 18px;
  margin:10px 0;
  transform: scale(2.5);
}
.box2{
  width: 21%;
  border-radius: 5px;
  border:var(--border);
  padding:12px 14px;
  font-size: 14px;
  margin:10px 0;
}



.composition {
  width: 50%;
  position: fixed;
  float: right;
  display: flex;
  margin: -10% 0% 0% 45%;
}

.composition:hover .composition__img:not(:hover) {
  transform: scale(.9)
}

.composition__img {
  outline-offset: 1rem;
  background-size: cover;
  width: 40%;
  height: 200px;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0,0,0, .4);
  position: absolute;
  transition: all .2s
}

.composition__img:hover {
  outline: 8px solid rgb(85, 197, 122);
  box-shadow: 0 2.5rem 5rem rgba(0,0,0, .6);
  transform: scale(1.1) translateY(-5px);
  z-index: 10;
}

.composition__img--p1 {
  top: -5px;
  left: 5%;
  width: 40%;
}

.composition__img--p2 {
  top: -10px;
  right: 5%;
  width: 40%;
}

.composition__img--p3 {
  top: 50px;
  left: 24%;
  width: 40%;
}
.composition__img--p4 {
  top: -80px;
  left: 30%;
  width: 40%;
}
.composition__img--p1 {
  top: -210px;
  left: 15%;
  width: 40%;
}
.composition__img--p6 {
  top: -230px;
  left: 45%;
  width: 40%;
}

.responsive {
  width: 50%;
  height: auto;
  margin: -10% 0% 0% 30%;
}
